
mixin sSpecialists(data)
	// start sSpecialists
	+b.sSpecialists.section&attributes(attributes)
		.container
			+e.section-title
				h1 РАДЫ ПРИВЕТСТВОВАТЬ ВАС НА НАШЕЙ ПЛАТФОРМЕ
				p Пожалуйста, начните регистрацию на нашем сайте, только если Вы соответствуете этим требованиям или проконсультируйтесь с нашим специалистом в чате поддержки
			+e.row.row
				.col-lg-6.col-xxl-7
					+b.card-requirement
						+e.title МИНИМАЛЬНЫЕ ТРЕБОВАНИЯ К СПЕЦИАЛИСТУ
						ul
							li
								+iconC('check')
								| Законченное высшее психологическое образование или законченное дополнительное высшее образование в области психологии
							li
								+iconC('check')
								| Обучение на второй ступени (втором году обучения) одного из психотерапевтических направлений в аккредитованном учебном заведении
							li
								+iconC('check')
								| Опыт практической платной работы — от 1 года (студенческая практика в зачёт не идёт)
							li
								+iconC('check')
								| Обязательно наличие регулярной индивидуальной личной психотерапии, а также, регулярной супервизии
							li
								+iconC('check')
								| Также, могут потребоваться рекомендации от преподавателей и тренеров ваших программ и коллег
							li
								+iconC('check')
								| Согласие на прохождение психиатрического освидетельствования у психиатра сервиса
				.col-lg-6.col-xxl-5
					+b.card-requirement
						+e.title ПРЕИМУЩЕСТВА РАБОТЫ С СЕРВИСОМ ОНЛАЙН-ТЕРАПИИ «ДА»
						ul
							li
								+iconC('check')
								| Мы полностью возьмём на себя ваше продвижение и поиск клиентов для вас — мы будем заниматься маркетингом, а вы тем, что любите и хорошо умеете — психотерапией
							li
								+iconC('check')
								| У нас на сервисе удобные инструменты для планирования и ведения работы. К примеру, у нас вы можете выбрать время работы с клиентом с точностью до пяти минут
							li
								+iconC('check')
								| У нас вы получаете доступ в поддерживающее профессиональное сообщество, а это супервизии, семинары, онлайн встречи.
			+e.btn-wrap
				+e.btn.btn.btn-primary(href='#') Регистрация как психолог

	// end sSpecialists