.footer {
  margin-top: auto;
  --sPT: #{rem(24)};
  --sPB: #{rem(34)};
  // --sTPB: #{rem()};
  background-color: $primary;
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(48)};
    --sPB: #{rem(68)};
  }
  &__row {
    --bs-gutter-x: #{rem(20)};
    --bs-gutter-y: #{rem(16)};
  }
  &__logo {
    display: block;
    margin-bottom: rem(16);
  }
  &__description {
    font-size: rem(14);
    max-width: rem(295);
    line-height: 1.25;
    color: #fff;
    margin-bottom: rem(20);
    @include media-breakpoint-up(lg) {
      font-size: rem(16);
      margin-bottom: rem(40);
    }
  }
	&__btn-row {
		--bs-gutter-x: #{rem(11)};
		--bs-gutter-y: #{rem(11)};
	}
	&__btn {
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: auto;
		}
		@include media-breakpoint-up(xxl) {
			--bs-btn-padding-x: #{rem(31)};
		}
	}
	&__wrap {
		@include media-breakpoint-up(xxl) {
			margin-left: rem(42);
		}
	}
	.h4 {
		font-weight: 500;
		line-height: 1.16;
		margin-bottom: rem(16);
		color: #fff;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(20);
			margin-top: rem(14);
		}
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: rem(11.4);
		list-style-type: none;
		margin-bottom: 0;
		a {
			color: #fff;
			&:hover {
				color: $gray-200;
			}
		}
	}
	&__link {
		display: flex;
		color: #fff;
		align-items: center;
		line-height: 1.25;
		max-width: max-content;
		font-size: rem(14);
		@include media-breakpoint-up(lg) {
			font-size: rem(16);
		}
		&:not(:last-of-type) {
			margin-bottom: rem(12);
		}
		&:hover {
			color: $gray-200;
		}
		.icon {
			flex: 0 0 auto;
			margin-right: rem(8);
			font-size: rem(20);
			fill: none;
			stroke-width: rem(2);
			stroke: currentColor;
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
				margin-right: rem(16);
			}
		}
	}
	.soc {
		margin-top: rem(18);
		margin-bottom: rem(18);
		@include media-breakpoint-up(lg) {
			margin-top: rem(24);
			margin-bottom: rem(24);
		}
	}
	&__secondary-text {
		font-size: rem(12);
		line-height: 1.33;
		color: #fff;
		display: block;
		max-width: max-content;
		margin-bottom: rem(2);
		&[href] {
			&:hover {
				color: $gray-200;
			}
		}
	}
  @include media-breakpoint-up(xl) {
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-up(xs) {
  }

  //
  @include media-breakpoint-between(md, xl) {
  }

  //
  @include media-breakpoint-only(xs) {
  }

  @include media-breakpoint-only(sm) {
  }

  @include media-breakpoint-only(md) {
  }

  @include media-breakpoint-only(lg) {
  }

  @include media-breakpoint-only(xl) {
  }

  //
  @include media-breakpoint-down(xl) {
  }

  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(md) {
  }

  @include media-breakpoint-down(sm) {
  }

  @include media-breakpoint-down(xs) {
  }
}
