
mixin review-card(img, descr, author)
	+b.review-card()&attributes(attributes)
		+e.img-wrap: +img(`img/review-${img}.png`, 'bg')
		+e.content
			+e.descr!= descr
			+e.author!= author

mixin sReviews(data)
	// start sReviews
	+b.sReviews.section&attributes(attributes)
		.container
			+e.title-wrap.text-center
				h2 ОТЗЫВЫ НАШИХ КЛИЕНОВ
				p Нам доверяют, к нам прислушиваются
			+e.review-row
				+e.swiper--js.swiper
					.swiper-wrapper
						.swiper-slide
							+review-card(`1`, 'Как‑то был у меня опыт консультации с психологом, который не привёл ни к чему кроме разочарования в себе.А вчера за полтора часа общения мои глаза раскрывались все шире и шире от осознаний. Я ещё до сих пор анализирую все Ваши вопросы, которые заставили меня задуматься о многом. Вот тебе и подсознание, про которое говорят все вокруг…Самое главное, поняла что больше не хочу жить с обидами которые были как гиря со мной всю жизнь. Вчера вы излечили самую глубокую мою рану. Мне стало намного легче. Спасибо вам.', 'Марина')
						.swiper-slide
							+review-card(`1`, 'Как‑то был у меня опыт консультации с психологом, который не привёл ни к чему кроме разочарования в себе.А вчера за полтора часа общения мои глаза раскрывались все шире и шире от осознаний. Я ещё до сих пор анализирую все Ваши вопросы, которые заставили меня задуматься о многом.', 'Елена')
						.swiper-slide
							+review-card(`1`, 'А вчера за полтора часа общения мои глаза раскрывались все шире и шире от осознаний. Я ещё до сих пор анализирую все Ваши вопросы, которые заставили меня задуматься о многом. Вот тебе и подсознание, про которое говорят все вокруг…Самое главное, поняла что больше не хочу жить с обидами которые были как гиря со мной всю жизнь. Вчера вы излечили самую глубокую мою рану. Мне стало намного легче. Спасибо вам.', 'Елена')
				+arrow
	// end sReviews