
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)  
				+e.BUTTON.btn.btn(type="submit"  )  
				+policy()
				+policy()
	// #modal-call

	//  #modal-successful
	div(id="modal-successful"  style="display: none" )
		+b.modal-win--sm
			+b.form-wrap.text-center
				
				+e.title.form-data Спасибо за заявку
				p Наши менеджеры свяжутся с Вами в ближайшее время и ответят на все интересующие вопросы
				+e.BUTTON.btn.btn.btn-primary(type="button"  ).modal-close-js Понятно
	// /#modal-successful

	//  #modal-welcome
	div(id="modal-welcome"  style="display: none" )
		+b.modal-win--welcome.text-center
				.h1 РАДЫ ПРИВЕТСТВОВАТЬ ВАС НА НАШЕЙ ПЛАТФОРМЕ
				.h5.ttu ДЛЯ ТОГО ЧТОБЫ НАЧАТЬ РАБОТУ, ПОЖАЛУЙСТА, ЗАРЕГИСТРИРУЙТЕСЬ
				+e.BUTTON.btn.btn.btn-primary(type="button"  ) Регистрация как психолог
				br
				+e.BUTTON.btn.btn.btn-primary(type="button"  ) Регистрация как клиент
				br
				+e.BUTTON.btn.btn.btn-outline-primary(type="button"  ) Уже есть аккаунт
	//  /#modal-welcome
	//  #modal-kod
	div(id="modal-kod"  style="display: none" )
		+b.modal-win--sm
			+form-wrap
				.text-center
					+e.title.form-data Введите код
					p.mb-1 Мы отправили код на Ваш номер. Введите его в поле ниже
				+input('_ _ _ _ _','text','','numeric').form-control--round.kod-mask
				.smallest.text-secondary.text-center Через 00:40 мин можно будет отправить код заново
				+e.BUTTON.btn.btn.btn-primary(type="button"  ) Войти
	// /#modal-kod

	// /#modal-policy
	div(id="modal-policy"  style="display: none" )
		+b.modal-win--policy
			.h5.text-primary.text-center.fw-500 Политика конфиденциальности
			p Настоящий документ «Политика конфиденциальности» (далее по тексту – «Политика») представляет собой правила использования /указать владельца сайта/ (далее – «мы» и/или «Администрация») данных интернет-пользователей (далее «вы» и/или «Пользователь»), собираемых с использованием сайта / указать URL сайта/ (далее – «сайт»).
			p 1. Обрабатываемые данные
			p 1.1. Мы не осуществляем сбор ваших персональных данных с использованием сайта.
			p 1.2. Все данные, собираемые на сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
			p 1.3. Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать:
			p 1.3.1. Информацию, которую вы предоставляете о себе самостоятельно с использованием онлайн-форм и программных модулей сайта, включая имя и номер телефона и/или адрес электронной почты.1.3.2. Данные, которые передаются в обезличенном виде в автоматическом режиме в зависимости от настроек используемого вами программного обеспечения.
			p 1.4. Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием сайта.
	// /#modal-policy
	//  #modal-successful2
	div(id="modal-successful2"  style="display: none" )
		+b.modal-win--sm
			+b.form-wrap.text-center
				
				+e.title.form-data Ваш аккаунт создан
				p Вы уже можете пользоваться всеми функциями сервиса
				+e.BUTTON.btn.btn.btn-primary(type="button"  ).modal-close-js Понятно
	// /#modal-successful2
	//  #modal-your-order
	div(id="modal-your-order"  style="display: none" )
		+b.modal-win--sm
			+b.form-wrap.text-center
				
				+e.title.form-data Ваша заявка будет рассмотрена
				p Мы свяжемся с Вами в ближайшее время
				+e.BUTTON.btn.btn.btn-primary(type="button"  ).modal-close-js Понятно
	// /#modal-your-order
	
	//  #modal-successful3
	div(id="modal-successful3"  style="display: none" )
		+b.modal-win--sm
			+b.form-wrap.text-center
				
				+e.title.form-data Ваш аккаунт создан
				p Наши менеджеры проверят достоверность введённой информации и Вы сможете пользоваться всеми функциями сервиса
				+e.BUTTON.btn.btn.btn-primary(type="button"  ).modal-close-js Понятно
	// /#modal-successful3
	//  #modal-confrim
	div(id="modal-confrim"  style="display: none" )
		+b.modal-win--confrim
			p Вы действительно хотите удалить карту?
			.row
				.col-auto: +e.btn.btn.btn-primary(href='#') Удалить
				.col-auto: +e.btn.btn.btn-outline-light(href='#') Отмена
	// #modal-confrim

	div(id="modal-question"  style="display: none" )
		+b.modal-win--question
			+form-wrap
				+e.title.form-data.h4 Задать вопрос
				+e.wrap
					+input("Введите текст", 'text', 'Тема')
					+input('Введите текст', 'textarea', 'Сообщение')
				.row.justify-content-center
					.col-sm-auto: +e.BUTTON.btn.btn.btn-primary(type="submit") Отправить
					.col-sm-auto: +e.BUTTON.btn.btn.btn-outline-primary(type="button") Отмена
	// #modal-question
	
	// end modals