
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)  
				+e.BUTTON.btn.btn(type="submit"  )  
				+policy()
				+policy()
	// #modal-call

	//  #modal-successful
	div(id="modal-successful"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data Спасибо за заявку
					p Наши менеджеры свяжутся с Вами в ближайшее время и ответят на все интересующие вопросы
				+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Понятно
	// #modal-successful

	//  #modal-confrim
	div(id="modal-confrim"  style="display: none" )
		+b.modal-win--confrim
			p Вы действительно хотите удалить карту?
			.row
				.col-auto: +e.btn.btn.btn-primary(href='#') Удалить
				.col-auto: +e.btn.btn.btn-outline-light(href='#') Отмена
	// #modal-confrim

	div(id="modal-question"  style="display: none" )
		+b.modal-win--question
			+form-wrap
				+e.title.form-data.h4 Задать вопрос
				+e.wrap
					+input("Введите текст", 'text', 'Тема')
					+input('Введите текст', 'textarea', 'Сообщение')
				.row.justify-content-center
					.col-sm-auto: +e.BUTTON.btn.btn.btn-primary(type="submit") Отправить
					.col-sm-auto: +e.BUTTON.btn.btn.btn-outline-primary(type="button") Отмена
	// #modal-question
	
	// end modals