mixin sCabinet(data)
	// start sCabinet
	+b.sCabinet.section#sCabinet&attributes(attributes)
		.container
			+b.sCabinet-head
				+e.time 17: 31: 51 (мск+0)
				.row
					+e.col.col-md-3
						+e.avatar-block
							+e.img-wrap
								+img("img/avatar.jpg")
							+e.text МАРИНА ЛИОНЧИКОВА
					.col
						+e.UL.nav
							li
								a(href="#").active МОЙ ПРОФИЛЬ
							li
								a(href="#") ФИНАНСЫ
							li
								a(href="#") ПОДДЕРЖКА
			+e.row.row
				+e.col-main.col
					block
				+e.col-aside.order-lg-first
					+b.sCabinet-aside
						ul
							li
								a(href="#") МОИ ДАННЫЕ
									.smallest.text-secondary Ирина Снигач
								
							li
								a(href="#").active МОЙ ПСИХОЛОГ
									+e.status.smallest(style="--color:#FD2734 ") offline
							li
								a(href="#") РАСПИСАНИЕ
									.smallest.text-secondary Следующий сеанс:
										br
										| Чт. 08.01.23 в 16:00
							li
								a(href="#") ЧАТ И ВИДЕОЧАТ
									.smallest.text-secondary Проведённых сессий: 17
							li
								a(href="#") МОИ ЗАМЕТКИ
							li
								a(href="#") РАССЫЛКА

	// end sCabinet