mixin advCard(icon, title, caption)
	+b.adv-card
		+icon(icon)
		+e.title!= title
		p= caption

mixin sAdvantages(data)
	// start sAdvantages
	+b.sAdvantages.section&attributes(attributes)
		.container
			+e.row.row
				.col-12.col-lg-7
					+b.title-wrap
						+e.container
							h2 ПРЕИМУЩЕСТВА
							+img("img/logo-small.png")
						p Основные принципы, которым мы следуем
					+e.content
						+advCard('info', 'РАБОТАЕМ С ПРОВЕРЕННЫМИ СПЕЦИАЛИСТАМИ', 'В России нет закона о лицензировании психологической деятельности, поэтому мы лично проверяем уровень квалификации каждого специалиста на собеседовании, а также проверяем документы и психическое здоровье')
						+advCard('support', 'ИСПОЛЬЗУЕМ НАДЁЖНУЮ И УДОБНУЮ ВИДЕОСВЯЗЬ', 'Работа с психологом происходит онлайн, в удобное для Вас время и в удобном для Вас месте с любого устройства, которое поддерживает видеосвязь')
						+advCard('doctor', 'ПОДБЕРЁМ ПОДХОДЯЩЕГО ИМЕННО ВАМ ПСИХОЛОГА', 'Заполнив простую анкету наши умные алгоритмы подберут вам психолога именно под ваш запрос. А мы позаботимся о том, чтобы это было удобно и безопасно')
						+advCard('money', 'ГАРАНТИРУЕМ БЕЗОПАСНЫЙ СПОСОБ ОПЛАТЫ', 'Мы используем безопасную оплату одобренную во всем мире, за сессии отменённые не более чем за 24 часа оплата не взимается. Психолог получает оплату только после фактически проведённой сессии')
				.col-auto.col-lg-5
					+e.img-wrap: +img(`img/advantages-bg.png`, 'bg')
			
			
	// end sAdvantages