.select2-container--default {
  --multi-sp: #{rem(3)};
  --border-focus: #{$light};

  --selectable-bg: #{$light};
  --selectable-color: #{$body-color};
  --selected-bg: #{$light};
  --selected-color: #{$body-color};
  --inner-border-radius: #{rem(4px)};

  .select2-selection {
    @extend .form-select;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
    height: rem(31) !important;
    overflow: hidden;
  }
  .select2-selection--multiple {
    padding-left: calc($input-padding-x - var(--multi-sp));
    padding-top: calc($input-padding-y - var(--multi-sp));
  }
  .select2-selection .select2-selection__rendered {
    padding: 0;
  }
  .select2-selection .select2-selection__arrow {
    display: none;
  }
  .select2-selection .select2-selection__rendered {
    line-height: $line-height-base;
    height: 100%;
    // display: inline-block;
  }

 
  .select2-results > .select2-results__options {
    max-height: rem(200px);
    // overflow-x: hidden;
    @include custom-scroll;
    overflow-y: auto;
    padding: rem(12);
  }

  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--selectable-bg);
    color: var(--selectable-color);
  }
  .select2-results__option--selected.select2-results__option--selectable {
    background-color: var(--selected-bg);
    color: var(--selected-color);
  }

  .select2-search--inline .select2-search__field {
    height: calc(var(--multi-sp) + 1rem + #{rem(5)});
    margin-top: var(--multi-sp);
    margin-left: var(--multi-sp);
    font-family: inherit;
  }
  .select2-selection--multiple .select2-selection__choice {
    margin-top: var(--multi-sp);
    margin-left: var(--multi-sp);
    border-radius: var(--inner-border-radius);
    padding-left: 0;
    background-color: $light;
    border: 1px solid $input-border-color;
    line-height: 1.38;
  }
  .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid $input-border-color;
    border-top-left-radius: var(--inner-border-radius);
    border-bottom-left-radius: var(--inner-border-radius);
    color: $input-border-color;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 rem(4);
    position: absolute;
    left: 0;
    top: 0;
  }
  &.select2-container--default.select2-container--open .select2-selection {
    border-color: var(--border-focus);
  }
}

.select2-results__option {
  padding: rem(10) rem(8);
  font-size: rem(14);
}
.select2-dropdown {
  border-radius: rem(8) !important;
  // margin-block: rem(5);
  overflow: hidden;
  
  border:1px solid var(--line, #{$gray-300}) !important; 
  box-shadow: 0px 15px 20px 0px rgba(72, 102, 172, 0.05), 0px -5px 20px 0px rgba(72, 102, 172, 0.05);
}

.select2-search--dropdown{
  display: none;
}
.custom-select-wrap {
  .select2 {
    width: 100% !important;
  }
}


.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
  border-color: transparent;
}

[multiple] ~ *  {
  .select2-results__option{
    padding-left: rem(12 + 8 + 16);
    position: relative;
    &::before{
      content: '';
      background-color: var(--bg-color);
      border: 1px solid var(--bg-color, #{$gray-300});
      width: 1rem;
      height: 1rem;
      position: absolute;
      left:rem(8) ;
      border-radius: rem(4);
      background-image: var(--bg);
      background-position: center;
      background-size: 100%;
    }
    &.select2-results__option--selected{
      --bg: var(--check-white);
      --bg-color: #{$primary};
    }
  }
  .select2-selection__rendered{
    counter-reset: num;
  }
  .select2-selection__choice{
    background: none !important;
    border: none !important;
    display: none;
    padding-left: 0;
    &::after{
      content: 'Выбрано ' counter(num);
    counter-increment: num;
    }
    button,span{
      display: none;
    }
    &:not(:last-child){
      // display: none !important;
      width: 0;
      height: 0;
      visibility: hidden;
      margin: 0;
    }
  }


}
.select2-selection__rendered:has(li) ~ .select2-search--inline{
  // display: none;
  opacity: 0;
  pointer-events: none;
}