.certif-card {
	border-radius: rem(10);
	overflow: hidden;
	position: relative;
	display: flex;
	height: 100%;
	padding: rem(20);
	@include media-breakpoint-up(sm) {
		padding: rem(30);
	}
	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background: $white;
		opacity: .8;
		border-radius: rem(5);
		padding: rem(30);
		@include media-breakpoint-up(sm) {
			padding: rem(40);
		}
	}
	&__title {
		font-size: rem(26);
		font-weight: 300;
		line-height: 125%;
		@include media-breakpoint-up(sm) {
			font-size: rem(32);
		}
	}
	&__sub-title {
		font-size: rem(14);
		font-weight: 500;
		@include media-breakpoint-up(sm) {
			font-size: rem(18);
		}
	}
	p {
		font-size: rem(12);
		margin-bottom: rem(25);
	}
	&__price {
		font-size: rem(32);
		border-bottom: rem(1) $gray-600 solid;
		max-width: rem(130);
		line-height: 130%;
		margin: 0 auto;
		margin-bottom: rem(16);
	}
	&__descr {
		font-size: rem(12);
		color: $gray-700;
		text-align: center;
		@include media-breakpoint-up(xxl) {
			padding-left: 15%;
			padding-right: 15%;
		}
	}
	&__img-wrap {
		@include block(27, 85);
		width: rem(85);
		position: absolute;
		right: rem(25);
		bottom: rem(20);
		@include media-breakpoint-up(sm) {
			right: rem(40);
			bottom: rem(40);
		}
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__hovered {
		box-shadow: 0px 15px 20px 0px rgba(72, 102, 172, 0.05), 0px -5px 20px 0px rgba(72, 102, 172, 0.05);
		position: absolute;
		bottom:0;
		display: flex;
    justify-content: center;
		left: 0;
		z-index: 5;
		background: $white;
		gap: rem(10);
		width: 100%;
		padding: rem(44) rem(10);
		opacity: 0;
		pointer-events: none;
		@include mt;
		@include media-breakpoint-up(sm) {
			gap: rem(20);
		}
		.btn {
			--bs-btn-padding-x: #{rem(30)};
			font-size: rem(16);
		}
		.btn-outline-light {
			--bs-btn-border-color: #{$primary};
			&:hover {
				color: $white;
				background-color: $blue-900;
				// --bs-btn-hover-color: #{$white};
				// --bs-btn-hover-color: #{$secondary};
			}
		}
	} //&:hover
	&:hover {
		box-shadow: 0px 15px 20px 0px rgba(72, 102, 172, 0.05), 0px -5px 20px 0px rgba(72, 102, 172, 0.05);
		.certif-card__hovered {
			opacity: 1;
			pointer-events: all;
		}
	}

}


// start .sCertificates
.sCertificates {
	--sPT: #{rem(20)};
	--sPB: #{rem(110)};
	// --sTPB: #{rem()};
	&__card-row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(17)};
		margin-bottom: rem(20);
	}
	.section-title{
		
	}
	&__input-wrap {
    margin-bottom: rem(20);
		p {
			margin-right: rem(16);
			display: inline-block;
			margin-bottom: 0;
		}
  }
  .form-group {
    width: rem(220);
		display: inline-block;
    span {
			font-size: rem(14);
			color: $black !important;
		}
	}
	&__slide{
		height: auto;
	}
	.btn-link {
    padding-top: rem(21);
    --bs-btn-padding-y: #{rem(16)};
    box-shadow: 0px 15px 20px 0px rgba(72, 102, 172, 0.05), 0px -5px 20px 0px rgba(72, 102, 172, 0.05) !important;
    --bs-btn-border-radius: #{rem(10)};
    background: $white;
    width: 100%;
    color: $black;
    font-size: rem(16);
		@media (hover: hover) {
			&:hover {
				background: $gray-200;
			}
		}
		.icon {
			fill: none;
			stroke-width: rem(1);
			stroke: $primary;
			margin-right: rem(20);
			transform: translateY(rem(-4));
		}
  }



	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCertificates