mixin certificate-card(price)
	+b.certif-card()&attributes(attributes).bg-wrap
		+img("img/certificate.png",'bg').img.picture-bg
		+e.content
			+e.title СЕРТИФИКАТ
			+e.sub-title НА ПОЛУЧЕНИЕ УСЛУГИ
			p на сумму
			+e.price!= `${price} ₽`
			+e.descr Данный сертификат даёт Вам право получить любую услугу на нащей платформе на указанную сумму. Срок действия сертификата — 6 месяцев с даты получения
			+e.img-wrap: +img("img/logo.png")
		+e.hovered
			+e.btn.btn.btn-primary(href='#') Купить
			+e.btn.btn.btn-white.btn-outline-light(href='#') Подарить

mixin page-head-certif(t,descr,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			+e.row.row
				.col-xl-5.col-xxl-7
					h1= t
				.col-xl-7.col-xxl-5
					p= descr

mixin sCertificates(data)
	// start sCertificates
	+b.sCertificates.section&attributes(attributes)
		.container
			+e.input-wrap
				p Сортировка:
				+input("Сумма сертификата",'select','')
				//- select(data-tags="true").floating-select.form-select
				//- 	option Сумма сертификата
				//- 	option Сначала старые
				//- 	option Популярные
				//- 	option Еще какие-то
			+e.card-row.row
				- const wrapClass="col-12 col-lg-6"
				+e.col(class= wrapClass)
					+certificate-card(`1 990`)
				+e.col(class= wrapClass)
					+certificate-card(`1 990`)
				+e.col(class= wrapClass)
					+certificate-card(`1 990`)
				+e.col(class= wrapClass)
					+certificate-card(`1 990`)
				+e.col(class= wrapClass)
					+certificate-card(`1 990`)
				+e.col(class= wrapClass)
					+certificate-card(`2 990`)
				+e.col(class= wrapClass)
					+certificate-card(`2 990`)
				+e.col(class= wrapClass)
					+certificate-card(`2 990`)
				+e.col(class= wrapClass)
					+certificate-card(`2 990`)
				+e.col(class= wrapClass)
					+certificate-card(`2 990`)
				+e.col(class= wrapClass)
					+certificate-card(`4 990`)
				+e.col(class= wrapClass)
					+certificate-card(`4 990`)


			a(href='#').btn.btn-link
				+icon(`arrow-load-more`)
				| Показать ещё
	
	// end sCertificates