mixin sCertificates(data)
	// start sCertificates
	+b.sCertificates.section&attributes(attributes)
		.container
			+e.input-wrap
				p Сортировка:
				select(data-tags="true").floating-select.form-select
					option Сумма сертификата
					option Сначала старые
					option Популярные
					option Еще какие-то
			+e.card-row.row
				- const wrapClass="col-12 col-sm-6 col-md-4 col-lg-3"
				+e.col(class= wrapClass)
					+card('Certificates-1.png', 'Зачем психологи обращаются к психологам', 'Посмотрим, откуда растут ноги у мысли, что себя нужно заставить')(href='#')

			a(href='#').btn.btn-link
				+icon(`arrow-load-more`)
				| Показать ещё
	
	// end sCertificates