// start .headerBlock
.headerBlock {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	// min-height: calc(var(--vh, 1vh) * 100);
	
	&__item-row {
		--bs-gutter-x: 0;
		--bs-gutter-y: 0;
	}
	&__col {
		&:first-child {
			border-left: none;
			.headerBlock__item {
				--bs-Color: #1C5580;
				&::before {
					@include media-breakpoint-up(lg) {
						left: unset;
						right: 0;
						width: 100vw;
					}
				}
			}
		}
		&:last-child {
			border-right: none;
			.headerBlock__item {
				--bs-Color: #{$blue};
				&:before {
					@include media-breakpoint-up(lg) {
						width: 100vw;
					}
				}
			}
		}
	}
	&__item {
		--bs-Color: #{$blue-900};
		position: relative;
		text-align: center;
		background-color: var(--bs-Color);
		padding: rem(16);
		color: #fff;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		z-index: 1;
		height: 100%;
		@include media-breakpoint-up(lg) {
			padding: rem(24) rem(12) rem(33);
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -50vw;
			width: 200vw;
			height: 100%;
			background-color: var(--bs-Color);
			z-index: -1;
			@include media-breakpoint-up(lg) {
				left: 0;
				width: 100%;
			}
		}
		span {
			font-size: rem(14);
			line-height: 1.14;
			margin-bottom: rem(6);
			display: inline-block;
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(12);
			}
		}
		p {
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.11;
			margin-bottom: 0;
			@include media-breakpoint-up(lg) {
				font-size: rem(18);
			}
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock