mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider--js.swiper
				.swiper-wrapper
					+e.slide.swiper-slide
			+e.item-row.row
				+e.col.col-lg
					+e.item
						span Всегда выгодные предложения
						p Скидка 30% на третий визит
				+e.col.col-lg
					+e.item
						span Высокий профессионализм
						p Выбери своего наставника
				+e.col.col-lg
					+e.item
						span Специальное предложение для бизнеса
						p Абонемент для сотрудников
	// end headerBlock