extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Modals` page'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.container
			h1 Modals` page 
			mixin btn(a, t) 
				.col-auto
					a(href= a).btn.btn-primary.link-modal-js= t
			.section.pt-0
				.row.gy-3.mb-3 
					+btn("#modal-call", 'call')
					+btn("#modal-successful", 'call')
			.section.pt-0
				h3 РЕГИСТРАЦИЯ КЛИЕНТА
				.row.gy-3.mb-3
					+btn("#modal-welcome", 'РАДЫ ПРИВЕТСТВОВАТЬ  ')
					+btn("#modal-kod", 'Введите код')
					+btn("#modal-policy", 'Политика конфиденциальности')
					+btn("#modal-successful2", 'Ваш аккаунт создан')
			.section.pt-0
				h3 РЕГИСТРАЦИЯ ПСИХОЛОГА
				.row.gy-3.mb-3
					+btn("#modal-your-order", '  заявка будет рассмотрена') 
					+btn("#modal-successful3", 'Ваш аккаунт создан')
			.section.pt-0
				h3 ЛК КЛИЕНТА
				.row.gy-3.mb-3
					+btn("#modal-rescheduling", 'Перенос сеанса')
					+btn("#modal-rescheduling2", 'Перенос сеанса 2')
					+btn("#modal-rescheduling3", 'Перенос сеанса 3')
					+btn("#modal-shutdown", ' причина завершения работы с психологом')
					+btn("#modal-rew", ' отзыв о   психологe')
					+btn("#modal-rew2", ' отзыв о  ceрвисе')
					+btn("#modal-confrim", 'modal-confrim')
					+btn("#modal-question", 'modal-question')
					
			.section.pt-0
				h3 ЛК ПСИХОЛОГА
				.row.gy-3.mb-3
					+btn("#modal-shutdown2", ' причина завершения работы  ')
					+btn("#modal-alert", ' alert ')
				h5 РАСПИСАНИЕ
				.row.gy-3.mb-3
					+btn("#modal-add-session", 'Добавить сеанс')
					+btn("#modal-delete-session", 'Удалить cеанс ')
					+btn("#modal-rescheduling-doc-1", ' Перенос времени   ')
					+btn("#modal-new-session", '   новый сеанс ')

			.section.pt-0
				h3 Окно о психологе
				.row.gy-3.mb-3
					+btn("#about-psychologist", 'Ваш аккаунт создан')

	+parts('footer')




