extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sBlog/_sBlog.pug


block variables
	- let  mainPage= ''
	- let  bg= null

block title
	- let  title= 'Каталог'
	title= title
block pagecontent



	+parts('header')
	+page-head(`Психологи «ДА»`, 'У нас представлено несколько категорий специалистов — от начинающих психологов, проходящих обучение и психологов, закончивших профильное и дополнительное образование, имеющих релевантный опыт, до профессионалов с безупречной репутацией, большим опытом работы, имеющих регалии и звания, научные публикации и достижения в сфере психологии и психотерапии',[`Психологи «ДА»`])
	main
		+sCatalog
	+parts('footer')

