extends ../layout/main.pug

include ../blocks/sCabinet/_sCabinet.pug
include ../blocks/sReg/_sReg.pug

block variables
	- let  mainPage= 'lk-page'
	- let  bg= '11-cabinet-client-3.jpg'

block title
	- let  title= 'ЛК ПСИХОЛОГА 13 06'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('','','Личный кабинет')
		+sCabinet
			+b.schedule
				+e.back(href='#'): +icon('chevron-left-2')
				+e.wrap
					+e.row.row
						.col-auto
							+e.date
								| 16.01.23
								span (четверг)
								+icon('calendar')
						.col
							+e.add(href='#modal-add-session' data-fancybox='modal') 
								+icon('plus')
								| Добавить&nbsp;сеанс
							+e.attention Продолжительность сессии — 50 минут
					label.form-check.form-switch
						input(type="checkbox" role="switch").form-check-input
						span отметить как выходной
	+parts('footer')