
mixin personCard(img, title, caption)
	+b.person-card
		+e.img-wrap: +img(`img/person-${img}.png`, 'bg')
		+e.title!= title
		+e.caption= caption

mixin sAboutUs(data)
	// start sAboutUs
	+b.sAboutUs.section&attributes(attributes)
		.container
			+b.title-wrap.text-center
				+e.container
					+img("img/logo-small.png")
					h2 О НАС
				p Мы команда профессиональных психологов
			+e.row.row
				+e.small.col-lg-4
					.card-wrapper
						p Мы, команда профессиональных психологов, создали этот сервис, заметив, что при растущем спросе на психологические услуги, человеку до сих пор слишком сложно найти подходящего специалиста, который бы помог решить его проблему.
						+personCard('01', 'ГЕННАДИЙ ВАСИЛЬЧУК', 'Психолог. Гештальт-терапевт. Супервизор. Групповой психотерапевт.')
				+e.big.col-lg-8
					.card-wrapper.squre
						+personCard('02', 'АЛЕКСЕЙ ПОКОТИЛОВ', 'Психолог. Гештальт-терапевт. Групповой психотерапевт. Коуч.Бизнес-тренер.')
						p Спрашивать рекомендации у друзей и знакомых не всегда безопасно, а доверять всем объявлениям невозможно. Поэтому мы отобрали в наше сообщество специалистов с подтверждённым профильным образованием, соответствующим опытом работы и рекомендациями от коллег.
					.card-wrapper
						+personCard('03', 'АЛЕКСАНДРА СОБОЛЕВА', 'Кандидат психологических наук. Тренер по обучению гештальт-терапевтов. Супервизор. Бизнес-тренер.')
						p Мы оценили профессиональные качества всех специалистов, а также подтвердили их психический статус с помощью психиатра сервиса. Теперь работа с нашими проверенными специалистами доступна на нашем сервисе онлайн-психотерапии ДА.
	// end sAboutUs