.form-wrap {
  &__input-wrap {
    // @extend .form-group;
    position: relative;
    position: relative;
    padding-top: calc(var(--input-sp-top) - #{$input-padding-y});
    margin-bottom: rem(10);
  }
  textarea.form-control {
    min-height: 144px;
    padding: 22px 24px;
    margin-top: calc(-1 * var(--input-sp-top));
  }
  &__input {
    // padding-right: rem(24);
    // @extend .form-control;
    //  outline: 0 !important;
    // display: none;

    &:not(textarea)::placeholder {
      color: rgba(#05141f, 0.5);
      opacity: 0 !important	;
    }
  }
  &__btn {
    // @extend .btn;
    cursor: pointer; 
    // font-weight: 600;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 40px;
  }
  label {
    width: 100%;
    display: block;
  }

  &__input-title {
    position: absolute;
    left: 0;
    top: calc(var(--input-sp-top));
    font-size: rem(16);
    color: $gray-700;
    transform-origin: bottom left;
    pointer-events: none;
    @include mt;
    max-width: 100%;
    line-height: 1;
    &.smallest{
      font-size: 12px;
    }
    &.position-static{
      margin-bottom: rem(8);
      display: block;
    }
  }
  textarea + &__input-title {
    display: none;
  }
  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    // border-bottom: 1px solid $gray-600; 
    &:-webkit-autofill,
    &:focus,
    &:not(:placeholder-shown) {
      &:not(textarea) {
        box-shadow: 0px 3px 0px $primary;
      }
    }
    &:-webkit-autofill,
    &:focus,
    &:not(:placeholder-shown),
    &.form-select {
      & ~ .form-wrap__input-title {
        transform: scale(0.82) translateY(calc(-1 * (var(--input-sp-top)))) translateX(0);
        max-width: calc(115%);
        width: 115%;
      }
    }
    &.form-select {
      margin-top: rem(20);
      & ~ .form-wrap__input-title {
        transform-origin: top left;
      }
    }
    &:focus {
      border-bottom-color: #000;
    }
    &.is-invalid {
      border-bottom-color: $danger;
      color: $danger;
      & + .form-wrap__input-title {
        color: $danger;
      }
    }
  }
  &__policy {
    color: #697279;
    font-size: 13px;
    a {
      @extend .tdu;
    }
    label {
      color: rgba(#05141f, 0.5);
    }
  }
  .invalid-feedback {
    margin-top: 0;
    font-size: rem(12);
    line-height: 1.33;
  }


  .icon-calendar {
		@include mt;
    fill: none;
    stroke: currentColor;
    color: $secondary;
    font-size: rem(24);
    position: absolute;
    right: 0;
    top: calc(var(--input-sp-top) - #{$input-padding-y});
    pointer-events: none;
	}
	.icon-calendar.active {
		color: var(--bs-primary);
	}

	.data-picker-wrap .air-datepicker {
		@include media-breakpoint-up(sm) {
      width: 100%;
			// width: calc(100% - #{rem(100)} * 2);
		}
	}
}

.btn-toggle-type-input{
  cursor: pointer;
  color: $secondary;
  position: absolute;
  right: 0;
  top: calc(var(--input-sp-top) - #{$input-padding-y});
  @include mt;
  .icon{
    font-size: rem(24);
  }
  &:hover{
    color: var(--bs-primary);
  }
}
//
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(xs) {
}
@include media-breakpoint-between(md, xl) {
}
@include media-breakpoint-only(xl) {
}
@include media-breakpoint-down(xs) {
}

.form-check {
}
.form-check-input {
}
.form-check-label {
}

input[type='number'] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}


.data-picker-wrap{
  position: relative;
  
  .air-datepicker{
    --adp-font-family: var(--bs-body-font-family);
    border-radius: 10px;
    border: 1px solid var(--line, #{$gray-300});
    background: var(--White, #FFF);
    // font-size: 12px;
  
    /* shadow */
    box-shadow: 0px 15px 20px 0px rgba(72, 102, 172, 0.05), 0px -5px 20px 0px rgba(72, 102, 172, 0.05);
    --adp-accent-color: var(--bs-primary);
    --adp-cell-background-color-selected: var(--adp-accent-color);
    --adp-cell-background-color-selected-hover: var(--adp-accent-color);
    --adp-btn-color: var(--adp-accent-color);
    --adp-background-color-hover:  var(--bs-light);
    --adp-background-color-active:  var(--adp-accent-color);
    --adp-cell-background-color-selected:  var(--adp-accent-color);
    --adp-cell-background-color-selected-hover: 
    --adp-day-name-color var(--adp-accent-color);
    --adp-cell-color-selected-hover:  var(--Black, #000);
    --adp-day-name-color: #000;
  }

  .air-datepicker-cell.-selected- {
    color: #fff !important; 
    background: var(--adp-cell-background-color-selected)  !important; 
  }
  .air-datepicker-nav--title{
    color: var(--Black, #000);
    // font-size: 10px;
    i{
      color: var(--Black, #000);
      // font-size: 10px;
      order: -1;
      margin-right: 5px;
    }
  }
  .air-datepicker-nav--action:hover{
    background-color: transparent;
    svg{
      --adp-nav-arrow-color: #{$primary};
    }
  }


  .air-datepicker-body--day-name{
    text-transform: none;
  }
  .air-datepicker-body--day-name.-weekend-{

    --adp-day-name-color: #{$secondary};
  }
  .air-datepicker-cell{
    --adp-cell-border-radius: 50%;
    aspect-ratio: 1;
    @include mt;
    &:hover{
      // color: #fff;
    }
  }
  .air-datepicker-body--cells.-days-{
    grid-auto-rows: auto;
  }
  // --adp-day-cell-height: auto;


}

.form-switch {
  padding-left: rem(58);
  margin-bottom: 0;
  .form-check-input {
    width: rem(40);
    height: rem(20);
    margin-left: rem(-58);
    border: none;
    background-color: $gray-600;
    background-size: rem(16);
    background-position: rem(2);
    --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8' fill='white'/%3E%3C/svg%3E%0A");
    &:checked {
      background-color: $primary;
      background-position: calc(100% - rem(2));
      --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8' fill='white'/%3E%3C/svg%3E%0A");
      & ~ span {
        color: #000;
      }
    }
    &:focus {
      box-shadow: none;
      --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
  span {
    @include mt;
    color: $gray-600;
    font-size: rem(14);
    vertical-align: bottom;
  }
}

.form-control--round.form-wrap__input:not(textarea){
  border-radius: 50px;
  border: 1px solid var(--Gray-light, #AFB9D2) !important;
  font-size: rem(40);
  text-align: center;
  &::placeholder{
    color: #AFB9D2;
    opacity: 1 !important;
  }
}