// start .sCatalog
.sCatalog {
	--sPT: #{rem(20)};
	--sPB: #{rem(110)};
	// --sTPB: #{rem()};
	&__card-row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(18)};
		margin-bottom: rem(20);
	}
	&__input-wrap {
    margin-bottom: rem(18);
		p {
			margin-right: rem(16);
			display: inline-block;
			margin-bottom: 0;
		}
  }
  .form-group {
    width: rem(220);
		display: inline-block;
    span {
			font-size: rem(14);
			color: $black !important;
		}
  }
	&__slide{
		height: auto;
	}
	.btn-link {
    --bs-btn-padding-y: #{rem(22) rem(18)};
    box-shadow: 0px 15px 20px 0px rgba(72, 102, 172, 0.05), 0px -5px 20px 0px rgba(72, 102, 172, 0.05) !important;
    --bs-btn-border-radius: #{rem(10)};
    background: $white;
    width: 100%;
    color: $black;
    font-size: rem(16);
		.icon {
			fill: none;
			stroke-width: rem(1);
			stroke: $primary;
			margin-right: rem(20);
			transform: translateY(rem(-4));
		}
  }

	label{position: relative;
		// display: block;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		input{
			@extend .invisible;
		}
		.card{
			--op: 0;
			&__name{
				display: flex;
				&::after{
					order: 1;
					margin-left: rem(8);
					content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' fill='white'/%3E%3Cpath d='M4.16602 10.833L7.49935 14.1663L15.8327 5.83301' stroke='%233B8CC3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					position: relative;
					top: rem(-2);
				}
				&::before{
					order: 2;
					content: var(--check-text, 'выбрать');
					color: $primary;
					font-size: rem(14);
					font-weight: 400;
					// margin-left: rem(4);
				}
			}
			&__img-wrap{
				&::before{
					content: '';
					background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' fill='#{$primary}'/%3E%3Cpath d='M4.16602 10.833L7.49935 14.1663L15.8327 5.83301' stroke='#{white}' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					background-position: center;
					background-size: 20px;
					background-repeat: no-repeat;
					width: rem(32);
					height: rem(32);
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					top:rem(10);
					background-color: $primary;
					right:rem(10);
					border-radius: 50%;
					opacity: var(--op);
				}
			}
		}
		input:checked ~ .card{
			--check-text: 'выбран';
			--op: 1;
		 }
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog