mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.input-wrap
				p Сортировка:
				select(data-tags="true").floating-select.form-select
					option По возрасту
					option Сначала старые
					option Популярные
					option Еще какие-то
			+e.row.row.sorting-row
				+sortingItem(`ВСЕ`).active
				+sortingItem(`БАЗОВАЯ КАТЕГОРИЯ`)
				+sortingItem(`I КАТЕГОРИЯ`)
				+sortingItem(`II КАТЕГОРИЯ`)
				+sortingItem(`КАТЕГОРИЯ ПРЕМИУМ`)
			+e.card-row.row
				- const wrapClass="col-12 col-sm-6 col-md-4 col-lg-3"
				+e.col(class= wrapClass)
					+card('prod-1.png', 'Андрей', 'Профессор психологии, психоаналитик, супервизор', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-3.png', 'Татьяна', 'Магистр психологии, супервизор, аккредитованный гештальт-терапевт', true, 'I категория').--hovered
				+e.col(class= wrapClass)
					+card('prod-2.png', 'Николай', 'Психолог, учащийся второго года обучения второй ступени в МИКТИК, психоаналитик', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-4.png', 'Анна', 'Психолог, сертифицированный гештальт-терапевт', true, 'II категория').--hovered
				+e.col(class= wrapClass)
					+card('prod-2.png', 'Николай', 'Психолог, учащийся второго года обучения второй ступени в МИКТИК, психоаналитик', true, 'Базовая').--hovered
				+e.col(class= wrapClass)
					+card('prod-4.png', 'Анна', 'Психолог, сертифицированный гештальт-терапевт', true, 'Базовая').--hovered
				+e.col(class= wrapClass)
					+card('prod-1.png', 'Андрей', 'Профессор психологии, психоаналитик, супервизор', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-3.png', 'Татьяна', 'Магистр психологии, супервизор, аккредитованный гештальт-терапевт', true, 'I категория').--hovered
				+e.col(class= wrapClass)
					+card('prod-1.png', 'Андрей', 'Профессор психологии, психоаналитик, супервизор', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-3.png', 'Татьяна', 'Магистр психологии, супервизор, аккредитованный гештальт-терапевт', true, 'I категория').--hovered
				+e.col(class= wrapClass)
					+card('prod-2.png', 'Николай', 'Психолог, учащийся второго года обучения второй ступени в МИКТИК, психоаналитик', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-4.png', 'Анна', 'Психолог, сертифицированный гештальт-терапевт', true, 'II категория').--hovered
				+e.col(class= wrapClass)
					+card('prod-2.png', 'Николай', 'Психолог, учащийся второго года обучения второй ступени в МИКТИК, психоаналитик', true, 'Базовая').--hovered
				+e.col(class= wrapClass)
					+card('prod-4.png', 'Анна', 'Психолог, сертифицированный гештальт-терапевт', true, 'Базовая').--hovered
				+e.col(class= wrapClass)
					+card('prod-1.png', 'Андрей', 'Профессор психологии, психоаналитик, супервизор', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-3.png', 'Татьяна', 'Магистр психологии, супервизор, аккредитованный гештальт-терапевт', true, 'I категория').--hovered
				+e.col(class= wrapClass)
					+card('prod-1.png', 'Андрей', 'Профессор психологии, психоаналитик, супервизор', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-3.png', 'Татьяна', 'Магистр психологии, супервизор, аккредитованный гештальт-терапевт', true, 'I категория').--hovered
				+e.col(class= wrapClass)
					+card('prod-2.png', 'Николай', 'Психолог, учащийся второго года обучения второй ступени в МИКТИК, психоаналитик', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-4.png', 'Анна', 'Психолог, сертифицированный гештальт-терапевт', true, 'II категория').--hovered
				+e.col(class= wrapClass)
					+card('prod-2.png', 'Николай', 'Психолог, учащийся второго года обучения второй ступени в МИКТИК, психоаналитик', true, 'Базовая').--hovered
				+e.col(class= wrapClass)
					+card('prod-4.png', 'Анна', 'Психолог, сертифицированный гештальт-терапевт', true, 'Базовая').--hovered
				+e.col(class= wrapClass)
					+card('prod-1.png', 'Андрей', 'Профессор психологии, психоаналитик, супервизор', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+card('prod-3.png', 'Татьяна', 'Магистр психологии, супервизор, аккредитованный гештальт-терапевт', true, 'I категория').--hovered
			
			
			a(href='#').btn.btn-link
				+icon(`arrow-load-more`)
				| Показать ещё
	// end sCatalog

mixin sCatalog09(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.card-row.row
				- const wrapClass="col-12 col-sm-6 col-md-4 col-lg-3"
				+e.col(class= wrapClass)
					+cardInput('prod-1.png', 'Андрей', 'Профессор психологии, психоаналитик, супервизор', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+cardInput('prod-3.png', 'Татьяна', 'Магистр психологии, супервизор, аккредитованный гештальт-терапевт', true, 'I категория').--hovered
				+e.col(class= wrapClass)
					+cardInput('prod-2.png', 'Николай', 'Психолог, учащийся второго года обучения второй ступени в МИКТИК, психоаналитик', true, 'Премиум').--hovered
				+e.col(class= wrapClass)
					+cardInput('prod-4.png', 'Анна', 'Психолог, сертифицированный гештальт-терапевт', true, 'II категория').--hovered
	// end sCatalog