mixin priceCard(title, price, badgeCl, badge, ...listItems)
	+b.price-card
		+e.badge(class=badgeCl)!= badge
		+e.title.text-center!= title
		+e.price.text-center!= price
		ul
			each item in listItems
				li
					+iconC('check')
					| #{item}
		+e.btn.btn.btn-primary(href='#') Записаться


mixin sPrice(data)
	// start sPrice
	+b.sPrice.section&attributes(attributes)
		.container
			+e.title-wrap.text-center
				h2 СТОИМОСТЬ
				p одной сессии с психологом, выберете подходящую для Вас
			+e.row.row
				- const wrapClass="col-12 col-md-6 col-xl-3"
				+e.col(class= wrapClass)
					+priceCard('БЮДЖЕТНЫЙ', '1 990 ₽', 'price-card__badge_yellow', 'Выгодно', 'Проверенные нами психологи с законченным высшим образованием, которые продолжают сейчас своё обучение психотерапии в одном из направлений', 'Опыт работы от одного года')
				+e.col(class= wrapClass)
					+priceCard('СТАНДАРТНЫЙ', '2 990 ₽', '', '', 'Проверенные нами психологи с высшим образованием', 'С законченным психотерапевтическим образованием', 'Опыт работы от 3-х лет')
				+e.col(class= wrapClass)
					+priceCard('БИЗНЕС', '4 990 ₽', '', '', 'Проверенные нами психологи с основным высшим образованием в психологии', 'С законченным психотерапевтическим образованием, аккредитацией в сообществе, научными публикациями', 'Опыт работы от 5-ти лет, с безупречной репутацией на нашем сервисе')
				+e.col(class= wrapClass)
					+priceCard('ПРЕМИУМ', '9 990 ₽', 'price-card__badge_green', 'Новинка', 'Проверенные нами психологи с основным высшим образованием в психологии', 'С законченным психотерапевтическим образованием, и аккредитацией в сообществе, научными публикациями', 'Опыт работы от 7-ти лет, с безупречной репутацией на нашем сервисе, а также имеющие значительные достижения в профессиональной среде.')


	// end sPrice