mixin business-card(title, descr)
	+b.business-card()&attributes(attributes)
		+e.title-wrap
			+e.title!= title
			+e.descr!= descr
		+e.input-wrapper
			+form-wrap
				+input('Название Вашей организации','text', 'Название Вашей организации')
				+input("Телефон",'tel','Телефон')
			+e.btn.btn.btn-primary.BUTTON(type="submit") Отправить

mixin sBusiness(data)
	// start sBusiness
	+b.sBusiness.section&attributes(attributes)
		.container
			+e.input-wrap
				p Сортировка:
				+input("Сначала новые",'select','')
			+e.row.row.sorting-row
				+sortingItem(`ВСЕ`).active
				+sortingItem(`СКИДКИ`)
				+sortingItem(`ТРЕНИНГИ`)
				+sortingItem(`ИССЛЕДОВАНИЯ`)
			+e.card-row.row
				- const wrapClass="col-12 col-lg-6"
				+e.col(class= wrapClass)
					+business-card('СКИДКА НА УСЛУГУ СЕРВИСА ПРИ ПОКУПКЕ «АБОНЕМЕНТА» ДЛЯ СВОИХ СОТРУДНИКОВ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('УЛУЧШЕНИЕ КОММУНИКАЦИИ ВНУТРИ КОМПАНИИ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('ОПРЕДЕЛЕНИЕ УРОВНЯ СТРЕССА СОТРУДНИКОВ КОМПАНИИ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('ОПРЕДЕЛЕНИЕ КОММУНИКАТИВНЫХ БАРЬЕРОВ ВНУТРИ КОМПАНИИ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('СКИДКА НА УСЛУГУ СЕРВИСА ПРИ ПОКУПКЕ «АБОНЕМЕНТА» ДЛЯ СВОИХ СОТРУДНИКОВ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('УЛУЧШЕНИЕ КОММУНИКАЦИИ ВНУТРИ КОМПАНИИ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('ОПРЕДЕЛЕНИЕ УРОВНЯ СТРЕССА СОТРУДНИКОВ КОМПАНИИ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('ОПРЕДЕЛЕНИЕ КОММУНИКАТИВНЫХ БАРЬЕРОВ ВНУТРИ КОМПАНИИ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('ОПРЕДЕЛЕНИЕ УРОВНЯ СТРЕССА СОТРУДНИКОВ КОМПАНИИ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
				+e.col(class= wrapClass)
					+business-card('ОПРЕДЕЛЕНИЕ КОММУНИКАТИВНЫХ БАРЬЕРОВ ВНУТРИ КОМПАНИИ', 'Оставьте свои контакты для получения предложения. В ближайшее время с Вами свяжется наш менеджер')
			a(href='#').btn.btn-link
				+icon(`arrow-load-more`)
				| Показать ещё

	// end sBusiness