mixin page-head-text(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			+e.row.row
				.col-lg-8
					h1= t


mixin sText-news()
	// start sText-news
	+b.SECTION.sText-news.section#sText-news&attributes(attributes)
		.container
			+e.block
				+e.row.row
					.col-lg
						p Синдром отложенной жизни — это набор жизненных сценариев, когда человек считает, что сейчас он ещё не живёт настоящей жизнью, а только готовится к ней, создаёт для неё условия.
						p Свою текущую жизнь он воспринимает лишь как набросок, черновик чего‑то более значимого. А настоящая жизнь начнётся «потом», после наступления знакового для него события: после развода, когда похудеет, когда заработает много денег, после переезда, когда выплатит кредит, когда выйдет замуж/женится и так далее.
						p Термин «синдром отложенной жизни» придуман в России в конце 90-х — ввёл его профессор, доктор психологических наук Владимир Серкин. Он изучал психологические механизмы, обуславливающие миграцию жителей северо-восточных регионов России в центральные районы страны.
					.col-lg
						+e.bg.picture-wrap
							+img('img/text-1.png','bg')
			+e.block
				p Онлайн — гипермаркет товаров для дома, дачи, строительства и ремонта проанализировал спрос на аккумуляторные, ручные и электроинструменты в октябре 2021 и сравнил эти цифры с аналогичным периодом 2020 года. Этой осенью товары данной категории россияне покупали чаще на 38%.
				p «На рост спроса в категории инструментов могли повлиять несколько факторов. В 2021 году в России выросли объёмы ввода жилья почти на 30%, что привело к увеличению количества ремонтов в новых квартирах. Также в этом году россияне признались, что стали экономить на ремонте и по возможности проводить его самостоятельно. В связи с этим многим из них потребовался свой инструмент», — комментирует руководитель пресс-службы «Инструменты.ру» Сергей Денисенко
				p Онлайн — гипермаркет товаров для дома, дачи, строительства и ремонта проанализировал спрос на аккумуляторные, ручные и электроинструменты в октябре 2021 и сравнил эти цифры с аналогичным периодом 2020 года. Этой осенью товары данной категории россияне покупали чаще на 38%.
				p «На рост спроса в категории инструментов могли повлиять несколько факторов. В 2021 году в России выросли объёмы ввода жилья почти на 30%, что привело к увеличению количества ремонтов в новых квартирах. Также в этом году россияне признались, что стали экономить на ремонте и по возможности проводить его самостоятельно. В связи с этим многим из них потребовался свой инструмент», — комментирует руководитель пресс-службы «Инструменты.ру» Сергей Денисенко
		+e.bg-wrap: +img('img/text-2.png', 'bg').picture-bg
		+e.block.container.qout-box
			+e.row.row
				.col-lg-7
					p Онлайн — гипермаркет товаров для дома, дачи, строительства и ремонта проанализировал спрос на аккумуляторные, ручные и электроинструменты в октябре 2021 и сравнил эти цифры с аналогичным периодом 2020 года. Этой осенью товары данной категории россияне покупали чаще на 38%.
					p «На рост спроса в категории инструментов могли повлиять несколько факторов. В 2021 году в России выросли объёмы ввода жилья почти на 30%, что привело к увеличению количества ремонтов в новых квартирах. Также в этом году россияне признались, что стали экономить на ремонте и по возможности проводить его самостоятельно. В связи с этим многим из них потребовался свой инструмент», — комментирует руководитель пресс-службы «Инструменты.ру» Сергей Денисенко
					p Онлайн — гипермаркет товаров для дома, дачи, строительства и ремонта проанализировал спрос на аккумуляторные, ручные и электроинструменты в октябре 2021 и сравнил эти цифры с аналогичным периодом 2020 года. Этой осенью товары данной категории россияне покупали чаще на 38%.
					p «На рост спроса в категории инструментов могли повлиять несколько факторов. В 2021 году в России выросли объёмы ввода жилья почти на 30%, что привело к увеличению количества ремонтов в новых квартирах. Также в этом году россияне признались, что стали экономить на ремонте и по возможности проводить его самостоятельно. В связи с этим многим из них потребовался свой инструмент», — комментирует руководитель пресс-службы «Инструменты.ру» Сергей Денисенко
				.col-lg
					blockquote «Накопление вещей, денег до лучших времён или „на чёрный день“ — тоже признак синдрома отложенной жизни»
	// end sText-news