
mixin sQuestions(data)
	// start sQuestions
	+b.sQuestions.section&attributes(attributes)
		.container
			+e.title-wrap.text-center
				h2 ЧАСТЫЕ ВОПРОСЫ
				p Ответим на самые популярные и волнующие Вас вопросы
			+ddGroup
				+ddGroupItem('Чем мне может помочь психолог?', 'active')
					p Психолог может помочь Вам разобраться с различными запросами, психологическими и эмоциональными проблемами, такими как стресс, тревога, депрессия, конфликты с другими людьми, проблемы с партнёром в семейных и личных отношениях, адаптация к изменениям в жизни. Он может также помочь развить навыки управления эмоциями, повысить уверенность в себе и улучшить общее качество жизни.
				+ddGroupItem('Как проходит первый приём у психолога?')
					p Психолог может помочь Вам разобраться с различными запросами, психологическими и эмоциональными проблемами.Он может также помочь развить навыки управления эмоциями, повысить уверенность в себе и улучшить общее качество жизни.
				+ddGroupItem('Что нужно знать перед походом к психологу?')
					p Психолог может помочь Вам разобраться с различными запросами, психологическими и эмоциональными проблемами.
				+ddGroupItem('Сколько встреч с психологом нужно?')
					p Психолог может помочь Вам разобраться с различными запросами, психологическими и эмоциональными проблемами.Он может также помочь развить навыки управления эмоциями, повысить уверенность в себе и улучшить общее качество жизни.
				+ddGroupItem('Нужно ли всё рассказывать психологу?')
					p Психолог может помочь Вам разобраться с различными запросами, психологическими и эмоциональными проблемами.
				+ddGroupItem('Какие вопросы задаёт психолог на встрече?')
					p Психолог может помочь Вам разобраться с различными запросами, психологическими и эмоциональными проблемами.
				+ddGroupItem('Сколько длится один приём у психолога?')
					p Психолог может помочь Вам разобраться с различными запросами, психологическими и эмоциональными проблемами. Он может также помочь развить навыки управления эмоциями, повысить уверенность в себе и улучшить общее качество жизни.



	// end sQuestions